---
interface Props {
	title: string;
	description: string;
	animationDelay: string;
}

const { title, description, animationDelay } = Astro.props;
---
<div class="bg-white p-6 rounded-lg shadow-md z-10 hover:shadow-lg transition-shadow duration-300 flex flex-col h-full animate-slide-in" style={`animation-delay: ${animationDelay}ms;`}>
  <slot />
  <h3 class="text-xl font-semibold mb-2 text-[#c48aa8]">{title}</h3>
  <p class="text-[#5ebdc3] mb-4 flex-grow overflow-hidden">
    { description }
  </p>
</div>

<style>
  @keyframes slide-in {
    from { transform: translateX(-50px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
  }

  .animate-slide-in {
    animation: slide-in 0.5s ease-out forwards;
  }
</style>


